/bin/
/distribution/
/reference/
/test/
/src-js/
.svn/
/.externalToolBuilders/
/.settings/
.buildpath
.classpath
.project
./out/

# Ignore all .class files
*.class
*.DS_Store

# Ignore everything in the target directory
/target/


.cosine